* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
}

h2 {
  font-weight: 500;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
}

.link {
  margin: 15px;
  text-decoration: none;
  color: black;
}

.project-card-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.p-card {
  margin: 10px;
}