* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f8f8;
}

.App {
  text-align: center;
  position: relative;

}

h1 {
  font-weight: 500;
  font-size: 4rem;
}

h2, h3 {
  font-weight: 500;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-bottom: 1px solid black;
  background: #6C63FF;
}

.link {
  margin: 15px;
  text-decoration: none;
  color: black;
}

.project-header {
  text-align: center;
  margin: 25px;
}

.project-card-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.p-card {
  margin: 10px;
}

.contact-page {
  width: 700px;
  margin: 20px auto;
}

.contact-form {
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: white;
}

.message-field {
  width: 100%;
}

.name-email {
  width: 50%;
  margin-bottom: 10px !important;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 850px;
  margin: 25px auto;
}

.hero-message {
  margin: auto auto;
  padding: 25px;
}

.hero-image {
  margin: auto auto;
}

.language-container {
  height: 600px; 
  border-top: 1px solid black;
  display: flex; 
  justify-content: center;

}

.lang-header {
  font-size: 36px;
  text-align: center;
  margin: auto;
}

.about-projects-blog-header {
  text-align: center;
  margin: 100px 0 75px 0;
  font-size: 48px;
}

.home-card-container {
  width: 1000px;
  text-align: center;
  margin: 75px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.teamwork-container {
  background: black;
  color: white;
  height: 1000px;
  width: 100%;
  text-align: center;
}

.teamwork-container img {
  width: 500px;
  height: 500px;
  margin: 100px;
}

.about-projects-blog-container {
  height: 500px;
  border-bottom: 1px solid black;
}

.home-card {
  background: #6C63FF;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 25px;
}

.icon {
  padding: 20px;
  font-size: 125px !important;
}

.about {
  width: 1000px;
  margin: 25px auto;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: #6C63FF;
}